<div id="tapes-data" data-json='<%= @tapes_json.html_safe %>'></div>
<div id="pagination" data-current-page="<%= @current_page %>" data-total-pages="<%= @total_pages %>"></div>
<%= vite_javascript_tag 'entrypoints/pages/index.tsx' %>